<div class="">
    <div>
        <div id="homeSection" class=" w-full">
            <div class=" backGround w-full min-h-96 max-h-200 ">
            </div>
            <div class="w-full ">
                <div
                    class="flex grid grid-cols-2 pt-8 pr-20 pl-20 sm:pt-8 sm:pr-28 sm:pl-28 md:pt-10 md:pl-36 md:pr-36 lg:pt-12 lg:pl-48 lg:pr-48 pb-0 border border-black">

                    <!-- <mat-card>
                        <mat-card-header>
                            <mat-card-title>Poodle</mat-card-title>
                            <mat-card-subtitle>Non-sporting group</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>

                        </mat-card-content>
                    </mat-card>


                    <mat-card class="h-56 border border-black">
                        <mat-card-header>
                            <mat-card-title>Poodle</mat-card-title>
                            <mat-card-subtitle>Non-sporting group</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>

                        </mat-card-content>
                    </mat-card>

                    <mat-card class="h-56 border border-black">
                        <mat-card-header>
                            <mat-card-title>Poodle</mat-card-title>
                            <mat-card-subtitle>Non-sporting group</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>

                        </mat-card-content>
                    </mat-card>
                    <mat-card class="h-56 border border-black">
                        <mat-card-header>
                            <mat-card-title>Poodle</mat-card-title>
                            <mat-card-subtitle>Non-sporting group</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>

                        </mat-card-content>
                    </mat-card> -->
                </div>
            </div>
        </div>
        <div id="aboutSection" class="min-h-96 max-h-96">
            <div class="">
                <app-about></app-about>
            </div>
        </div>
        <div id="contactSection" class="min-h-96 max-h-96">
            <div class="">
                <app-contact></app-contact>
            </div>
        </div>
    </div>
</div>