<div>
  <div class="p-4 border-b">
    <span class="font-medium  text-xl">{{Roster_data?.flag =='Edit'?'Edit':'Create' }} Roster</span>
  </div>
  <form [formGroup]="rosterForm" (ngSubmit)="Roster_data?.flag =='Edit'? updateRoster(): addRoster()" class="grid grid-flow-row grid-cols-2 bg-white shadow-md rounded px-8 pt-6 pb-8 flex gap-4 items-center">
    <div class="mb-4">
      <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Name</label>
      <input
        id="name"
        type="text"
        formControlName="name"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline"
        placeholder="Enter Name"
      />
    </div>

    <div class="mb-4">
      <label for="date" class="block text-gray-700 text-sm font-bold mb-2">Date</label>
      <input
        id="date"
        type="date"
        formControlName="date"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline"
        />
    </div>
    <div class="mb-4">
      <label for="start_time" class="block text-gray-700 text-sm font-bold mb-2">Start Time</label>
      <input
        id="start_time"
        type="time"
        formControlName="start_time"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline"
      />
    </div>
    <div class="mb-4">
      <label for="end_time" class="block text-gray-700 text-sm font-bold mb-2">End Time</label>
      <input
        id="end_time"
        type="time"
        formControlName="end_time"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline"
      />
    </div>

   <div >
    <button
    type="submit"
    [disabled]="rosterForm.invalid"
    class="bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
  >
    Save
  </button>
   </div>

  </form>
 </div>
