.sign-up {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
    color: blueviolet;
}

.form-input {
    height: 35px;
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 6px;
}

.form-button {
    height: 35px;
    cursor: pointer;
}

.anchor-tag
{
    margin-top: 10px;
    cursor: pointer;
    color: blueviolet;
}

.anchor-tag:hover{
    text-decoration-line: underline;
}
.login-issue
{
    color: red;
}