.nav
{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 10px;
}
.nav h1{
    color: rgb(243, 241, 245);
    margin: 0;
    font-size: 40px;
}

.nav ul 
{
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav li
{
    padding-left: 15px;
    padding-top: 15px;
}

.nav li a
{
    text-decoration: none;
    color: blueviolet;
}

.nav .nav-search
{
    flex: 1;
    margin-top: 5px;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}
.nav .nav-search input
{
    flex: 1;
    border: 1px solid blueviolet;
    height: 40px;
    border-right: 0px;
    color: blueviolet;
}

.nav .nav-search button{
    border: 1px solid blueviolet;
    height: 43.5px;
    border-left: 0px;
}